<div class="alert hidden alert-success"><%= __('Congratulations') %></div>
<div class="alert hidden alert-danger"><%= __('Oh,  it´s wrong!') %></div>
<div class="alert hidden alert-info"><%= __('Test') %></div>