<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/top-site.ejs %>

</head><!--/head-->
<body>
    <%- include partials/header.ejs %>
    
    

pagina de jogadores


    

    <%- include partials/footer.ejs %>

    
</body>
</html>